
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Create">Add Contact</a></p>
</div>

